[submodule "images"]
	path = images
	url = git@github.com:tweakz-fydetab-hacks/images.git
[submodule "calamares-settings"]
	path = calamares-settings
	url = git@github.com:tweakz-fydetab-hacks/calamares-settings.git
[submodule "pkgbuilds/linux-fydetab-itztweak"]
	path = pkgbuilds/linux-fydetab-itztweak
	url = git@github.com:tweakz-fydetab-hacks/linux-fydetab-itztweak.git
[submodule "pkgbuilds/waydroid-panthor-images"]
	path = pkgbuilds/waydroid-panthor-images
	url = git@github.com:tweakz-fydetab-hacks/waydroid-panthor-images.git
[submodule "pkgbuilds/waydroid-panthor-config"]
	path = pkgbuilds/waydroid-panthor-config
	url = git@github.com:tweakz-fydetab-hacks/waydroid-panthor-config.git
